/* ------ FONT LINK ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ------ VARIABLES ----- */
:root{
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: #001D3D;
    --text-color-third: #FFD60A;
    
    --first-color: #FFD60A;
    --first-color-hover: #001D3D;
    
    --second-color: #001D3D;
    --third-color: #D9D9D9;
    --first-shadow-color: rgba(0, 0, 0, 0.1);
}

/* ------ BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--body-color);
}

/* ------ SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
}


/* ------ CHANGE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track{
    background: #F1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #CCC;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover{
    background: #BBB;
}


/* ------ GLOBAL SETTINGS ----- */
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: var(--second-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    color: var(--color-white);
}

.btn:hover{
    color: var(--second-color);
    background: var(--color-white);
}

.btn>i{
    margin-left:10px;
}

/* ------ CONTAINER ----- */

.container{
    width: 100%;
    position: relative;
}

/* ------ NAVIGATION ----- */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--first-color);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}

.nav-logo{
    position: relative;
}

.nav-logo a{
    text-decoration: none;
}

.nav-name{
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--second-color);
}

.nav-menu, .nav_menu_list{
    display: flex;
}

.nav-menu .nav_list{
    list-style: none;
    position: relative;
}

.nav-link{
    text-decoration: none;
    color: var(--second-color);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}

.nav-menu-btn{
    display: none;
}

.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
}

#mobile-menu.fa-xmark{
    transform: rotate(180deg);
}





/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 900px) {
    .nav-button{
        display: none;
    }
    
    .nav-menu.responsive{
        left: 0;
    }
    
    .nav-menu{
        position: fixed;
        top: 90px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }
    
    .nav_menu_list{
        flex-direction: column;
    }
    
    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }