/* ------ FONT LINK ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ------ VARIABLES ----- */
:root{
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: #001D3D;
    --text-color-third: #FFD60A;
    
    --first-color: #001D3D;
    --first-color-hover: #001D3D;
    
    --second-color: #FFD60A;
    --third-color: #E0A500;
    --fourth-color:#000814;
    --fith-color: #E7E7E7;
    --first-shadow-color: rgba(0, 0, 0, 0.15);
}

/* ------ BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--body-color);
}

/* ------ SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
}


/* ------ CHANGE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track{
    background: #F1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #CCC;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover{
    background: #BBB;
}


/* ------ GLOBAL SETTINGS ----- */
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: var(--color-white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    color: var(--first-color);
}

.btn:hover{
    color: var(--first-color);
    background: var(--second-color);
}

.btn>i{
    margin-left:10px;
}

/* ------ CONTAINER ----- */
.wrapper{
    min-height: 200vh;
    background: var(--fith-color);
}

.container{
    width: 100%;
    position: relative;
}

.section{
    padding-block: 2em;
}

.featured-content{
    max-width: 1000px;
    margin:0 auto;
    padding: 0 20px;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col{
    display: flex;
    width: 50%;
}


/* ------ REUSABLES COMPONENTS ----- */
.top-header{
    text-align: center;
    margin-bottom: 3em;
}

.top-header h1{
    font-weight: 600;
    color: var(--first-color);
    margin-bottom: 10px;
}

h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--first-color);
}

/* ------ NAVIGATION ----- */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: #E7E7E7;
    padding-inline: 10vw;
    transition: .3s;
    z-index: 100;
}

.nav-logo{
    position: relative;
}

.nav-logo a{
    text-decoration: none;
}

.nav-name{
    font-size: 32px;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--first-color);
}

.nav-logo span{
    position: absolute;
    top: -4px;
    right: -12px;
    font-size: 1.35em;
    color: var(--second-color);
}

.nav-logo a:hover .nav-name span {
    color: var(--color-white);
}

.nav-menu, .nav_menu_list{
    display: flex;
}

.nav-menu .nav_list{
    list-style: none;
    position: relative;
}

.nav-link{
    text-decoration: none;
    color: var(--first-color);
    font-weight: 500;
    padding-inline: 0px;
    margin-inline: 20px;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
}

.nav-link:hover{
    color: var(--third-color);
}

.nav-menu-btn{
    display: none;
}

.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
}

#mobile-menu.fa-xmark{
    transform: rotate(180deg);
}


/* ------ CONTAINER ----- */
.featured-box{
    padding-inline: 10vw;
    position: relative;
    display: flex;
    background: var(--first-color);
    min-height: 550px;
    flex-wrap: wrap;
}

.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    padding: 0 20px;
    margin-top:90px;
    order: 1;
    text-align: center;
}

.featured-name{
    font-size: 30px;
    color: var(--color-white);
    border: 0px solid;
    min-height: 150px;
}

#typed{
    margin-block: 18px;
    text-transform: uppercase;
}

.color1{
    color: var(--second-color);
    font-weight: bold;
}
.color2{
    color: red;
    font-weight: bold;
}
.color3{
    color: rgb(6, 216, 6);
    font-weight: bold;
}
.color4{
    color: #0fd3ec;
    font-weight: bold;
}

.featured-text-info{
    font-size: 14px;
    margin-bottom: 30px;
    color: var(--color-white);
}

.featured-text-btn{
    display: flex;
    gap: 20px;
}

.featured-slide{
    width: 60%;
    order: 2;
    display: flex;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.featured-slide-container{
    position: relative;
    width: 100%;
    display: flex;        
    justify-content: center;
    align-items: center;   
    height: 100%;
}

.slide{
    position: absolute;
    height: auto;
    overflow: hidden;
}

.slide img{
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 30% 5% 30% 5%;
    -webkit-border-radius: 30% 5% 30% 5%;
}

.sobre-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 25px 20px;
    padding-inline: 25px;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 10px;
}

.sobre-header{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border: 0px solid red;
}

.sobre-header span{
    padding: 5px 15px;
    font-size: 14px;
    background: var(--first-color);
    border-radius: 5px;
    color: var(--color-white);
    font-weight: 500;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
}

.sobre-header span i{
    margin-left:10px;
}

.sobre-info #profissionais{
    display: none;
}

.sobre-header span:hover{
    background: var(--fith-color);
    color: var(--first-color);
    cursor: pointer;
}

.sobre-header span.active{
    background: var(--second-color);
    color: var(--first-color);
}

.sobre-info ul{
    font-size: 15px;
    opacity: .85;
    width: 100%;
    margin-left: 25px;
}

.sobre-info:hover ul{
    opacity: 1;
}

.sobre-info ul li{
    list-style:square;
    margin:15px 0;
    line-height: 1.2;
}

.servicos-box{
    margin: 10px;
}

.servicos-header{
    margin-bottom: 20px;
}

.servicos-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.servicos-list span{
    font-size: 13px;
    background: var(--second-color);
    color: var(--first-color);
    padding: 2px 10px;
    border-radius: 5px;
    font-weight: 500;
}









/* ----- MEDIA QUERY == +1600px / RESPONSIVE ----- */
@media only screen and (min-width: 1600px) {
    .nav-link{
        padding-inline: 10px;
    }

    .slide img{
        max-width: 700px;
    }
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 968px) {
    .nav-button{
        display: none;
    }
    
    .nav-menu.responsive{
        left: 0;
    }
    
    .nav-menu{
        position: fixed;
        top: 90px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(187,187,187, 0.7);
        backdrop-filter: blur(30px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }
    
    .nav_menu_list{
        flex-direction: column;
    }
    
    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .featured-box{
        flex-direction: column;
    }

    .featured-text, .featured-slide{
        width: 100%;
    }

    .featured-slide{
        order: 1;
    }

    .featured-text{
        margin: 0 0 30px 0;
    }

    .featured-text{
        order: 2;
        min-height: 30vh;
    }

    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    
    .col{
        display: flex;
        justify-content: center;
        width: 100%;
        
    }
    .sobre-info ul{
        padding:0 15px;
    }
}